<%- partial('_partial/header', {
  headerType: 'post',
  post: post
}) %>
  <article>
    <div class="container typo">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <div class="post-info text-muted">
            <% if (config.author) { %>
              <!-- Author -->
              <span class="author info">By
                <%- config.author %>
              </span>
              <% } %>
                <!-- Date -->
                <span class="date-time info">On
                  <span class="date">
                    <%- date(post.date) %>
                  </span>
                  <span class="time">
                    <%- time(post.time) %>
                  </span>
                </span>
                <% if (post.categories && post.categories.length){ %>
                  <!--  Categories  -->
                  <span class="categories info">Under
                    <%- partial('categories', {categories: post.categories}) %>
                  </span>
                  <% } %>
          </div>
          <!-- Tags -->
          <% if (post.tags && post.tags.length) { %>
            <div class="post-tags text-muted">
              Tags:
              <%- partial('tags', {tags: post.tags, tagHash: true}) %>
            </div>
            <% } %>
              <!-- Table of Contents -->
              <% if (typeof index == 'undefined' && post.toc){ %>
                <div id="toc" class="toc-article">
                  <strong class="toc-title">目录</strong>
                  <%- toc(post.content) %>
                </div>
                <% } %>
                  <!-- Post Main Content -->
                  <div class="post-content">
                    <%- post.content %>
                      <br />
                      <hr />
                      <div id="comment"></div>
                  </div>
        </div>
      </div>
    </div>
  </article>
  <script>
    new Valine({
      el: '#comment',
      notify: false,
      verify: false,
      appId: 'lbF4ajEDofgIbJLs1hGgxbTE-gzGzoHsz',
      appKey: 'yX3gjBPOuQXX3O7JuWUIi8K8',
      placeholder: 'Just Go Go..',
      path: window.location.pathname,
      avatar: 'mm'
    });
  </script>